.gridContainer {
  background-color: dimgray;
}

.answerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .answerRow {
    width: 100vw;
  }
}
