.keyboard-key{
    width: 3rem;
    height: 3rem;
    background-color: gray;
    border-radius: 10%;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.O{
    background-color: #00b63d;
}

.X{
    background-color: #b6a400;
}

.N{
    background-color: black;
}