.keyboard-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  gap: 2px;
  margin-bottom: 3px;
  justify-items: center;
  align-items: center;
}

.keyboard-row--middle {
  margin-left: 0.75rem;
}
