.square {
  max-width: 80px;
  max-height: 80px;
  width: 4rem;
  aspect-ratio: 1;
  margin: 0.2rem;
  background-color: black;
  border-color: antiquewhite;
  border-style: solid;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.square--O {
  background-color: #00b63d;
  animation: rotateAnimation 0.4s linear;
  transition: background-color;
  transition-delay: 0.2s;
}

.square--X {
  background-color: #b6a400;
  animation: rotateAnimation 0.4s linear;
  transition: background-color;
  transition-delay: 0.2s;
}

.square--N {
  background-color: #404040;
  animation: rotateAnimation 0.4s linear;
  transition: background-color;
  transition-delay: 0.2s;
}

@keyframes rotateAnimation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
